/* Theme Styles
 *
 * Styles for setting a custom theme for your site
 ===================================================*/
.logo { padding: 2em; }
p { font-size: 1.1em }
.home-head {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 60vh;
}

.music-brand {
    background-image: url('../images/brand.png');
		background-repeat: no-repeat;
    background-size: cover;
}
